@use "fonts";
@forward "media";


$font-size-xsmall:   10px;
$font-size-small:    12px;
$font-size-base:     14px;
$font-size-large:    16px;
$font-size-xlarge:   18px;
$font-size-xxlarge:  20px;
$font-size-xxxlarge: 24px;

$color-base: #FFFFFF;
$color-purple: #FF70D9;
$color-yellow: #EBFF00;
